.App {
  text-align: center;
  background-color: #f3f3f3;
  height: 100vh;
  padding-top: 5%;
}

.App-tab {
  margin: 10em
}

.Calendar {
  text-align: center;
  background-color: #ffffff;
}


@media (prefers-reduced-motion: no-preference) {
  .Calendar-logo {
    animation: Calendar-logo-spin infinite 20s linear;
  }
}

.Calendar-header {
  background-color: #ffffff;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2e2e2e;
}

.Calendar-body {
  background-color: #ffffff;
  min-height: 60vh;
}
